# B: Pandas

Pandas is a library that is built on top of NumPy. It offers several data structures include `Series` (one-dimensional) and `DataFrames` (two-dimensional). It is higher-level than NumPy and allows us to 'name' the rows and columns of the data structures. We might say that NumPy is about efficiency, while Pandas is about ease-of-use.

In [8]:
import pandas as pd
import numpy as np

If you execute the next cell, then hints and answers will be available to you, like they were in the previous lab.

In [10]:
%run do_install_HAs.py B_pandas_lab

## Series

A `Series` is like a one-dimensional array. The values in the `Series` have an index, which, by default, is made of consecutive integers from 0.

We can create a `Series` from a Python list, e.g.:

In [11]:
s = pd.Series([5, 7, 10, 10, 7])

When we display it, you will see its contents, but also the index:

In [12]:
s

0     5
1     7
2    10
3    10
4     7
dtype: int64

We can get the index itself:

In [13]:
s.index

RangeIndex(start=0, stop=5, step=1)

And we can get the values (as a NumPy array):

In [14]:
s.values

array([ 5,  7, 10, 10,  7])

An initial source of confusion is that index and position are not the same thing. Sure, at the moment, the value 5 in the `Series` above is in position 0 and its index is 0. But the index 'stays with' a value, even when positions change.

A simple example is if we 'shuffle' the values in `s`. The Pandas way of doing this is to take a sample from `s`:

In [15]:
s.sample(frac=1.0, random_state=2)

2    10
4     7
1     7
3    10
0     5
dtype: int64

If we set `frac` to be 0.8, for example, then we take 80% of the values in `s` as our sample. By using `frac = 1.0` as we did above, we take all the values. By setting the random number state, we ensure reproducibility: we get the same result each time we run this Notebook (ta least, we get the same result if we use the same hardware/software).

But the key point here is that indexes have 'stayed with' values. The value 5 is now in position 4 but its index is still 0. (In the case of the `sample` method, there is the option of saying that the indexes should not stay with the values: `ignore_index=True`.)

Pretty much everything else we learned about NumPy one-dimensional arrays applies equally to Panda `Series`. Here are some examples.

In [16]:
s.dtype # The data type that Pandas has inferred

dtype('int64')

In [17]:
s.ndim # The number of dimensions

1

In [18]:
s.shape # The shape

(5,)

In [19]:
len(s) # The length

5

In [20]:
s.size # The size

5

In [21]:
s + 2 # Elementwise addition

0     7
1     9
2    12
3    12
4     9
dtype: int64

In [22]:
s ** 2 # Elementwise squaring

0     25
1     49
2    100
3    100
4     49
dtype: int64

In [23]:
s > 6 # Elementwise comparisons

0    False
1     True
2     True
3     True
4     True
dtype: bool

In [24]:
s1 = pd.Series([5, 7, 10, 10, 7])
s2 = pd.Series([1, 2, 3, 4, 5])

In [25]:
s1 + s2 # Adding corresponding elements of two same-dimension Series

0     6
1     9
2    13
3    14
4    12
dtype: int64

In [26]:
s1 * s2 # Multiplying corresponding elements of two same-dimension Series

0     5
1    14
2    30
3    40
4    35
dtype: int64

In [27]:
s1 @ s2 # Dot product of two same-dimension Series

124

In [28]:
np.sqrt(s) # Applying a NumPy universal function elementwise

0    2.236068
1    2.645751
2    3.162278
3    3.162278
4    2.645751
dtype: float64

In [29]:
s.sum() # Applying a NumPy method

39

In [30]:
s.mean() # Another NumPy method

7.8

Here are a couple of methods we did not study when we looked at NumpPy. The first return a `Series` with no duplicates:

In [31]:
s.unique()

array([ 5,  7, 10])

The second returns the values with their frequencies.

In [32]:
s.value_counts()

7     2
10    2
5     1
Name: count, dtype: int64

The result is itself a `Series`. The values in the `Series` are the frequencies. Interestingly, the unique values in `s` have become the index.

## Indexing and slicing of Series

In [33]:
s = pd.Series([5, 7, 10, 10, 7])

In [34]:
s = s.sample(frac=1.0, random_state=2)

In [35]:
s

2    10
4     7
1     7
3    10
0     5
dtype: int64

We can access elements by index and by slicing and also by Boolean indexing and fancy indexing - all as in NumPy.

But, hold on! There's an obvious question: do indexing and slicing use the index or the positions? For example, is `s[0]` the item in position 0 or the item whose index is 0? Is `s[1:3]` a slice based on the index or the positions?

The bad news is: it's not consistent. `s[0]` uses the index, not the positions. `s[1:3]` uses the positions, not the index.

It's better to be explicit. Pandas has a way for us to explicitly say we want to use the index: `loc`. And it has a way for us to say we want to use the positions: `iloc`. Here are some examples.

In [36]:
s[0] # index

5

In [37]:
s.loc[0] # index

5

In [38]:
s.iloc[0] # position

10

In [39]:
s[1:] # A slice from position 1

4     7
1     7
3    10
0     5
dtype: int64

In [40]:
s.loc[1:] # A slice from index 1

1     7
3    10
0     5
dtype: int64

In [41]:
s.iloc[1:] # A slice from position 1

4     7
1     7
3    10
0     5
dtype: int64

In [42]:
s[1:3] # A slice from position 1 up to but excluding position 3

4    7
1    7
dtype: int64

In [43]:
s.loc[1:3] # A slice from index 1 up to and including index 3

1     7
3    10
dtype: int64

In [44]:
s.iloc[1:3] # A slice from position 1 up to but excluding position 3

4    7
1    7
dtype: int64

Boolean indexing works the same way whether you write `loc`, `iloc` or neither.

In [45]:
s[[True, True, False, False, True]] # Boolean indexing

2    10
4     7
0     5
dtype: int64

In [46]:
s.loc[[True, True, False, False, True]] # Boolean indexing

2    10
4     7
0     5
dtype: int64

In [47]:
s.iloc[[True, True, False, False, True]] # Boolean indexing

2    10
4     7
0     5
dtype: int64

Fancy indexing uses the index by default, not the position.

In [48]:
s[[4, 3, 2, 1, 0]] # Fancy indexing - uses the index

4     7
3    10
2    10
1     7
0     5
dtype: int64

In [49]:
s.loc[[4, 3, 2, 1, 0]] # Fancy indexing - uses the index

4     7
3    10
2    10
1     7
0     5
dtype: int64

In [50]:
s.iloc[[4, 3, 2, 1, 0]] # Fancy indexing - uses the position

0     5
3    10
1     7
4     7
2    10
dtype: int64

This may all seem depressingly complicated. But, remember: we shouldn't be doing much indexing. We should be using vectorized operations to work on the whole data structure. In particular, we should be able to avoid the classic Python programs that you wrote in the past that had a loop and used indexing to access the elements of the data structure.

## DataFrame

A `DataFrame` is a table of data, comprising rows and columns. The rows and columns both have an index. If you want more dimensions (we won't), then `DataFrames` also support hierarchical indexing.

We can create a `DataFrame` from a nested Python list - as we did with NumPy two-dimensional arrays.

In [51]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [1, 5, 3], [4, 2, 6]])

In [52]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  1  5  3
3  4  2  6

You can see the rows have an index, and so do the columns.

More normal is to give the columns names:

In [53]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [1, 5, 3], [4, 2, 6]], columns=["A", "B", "C"])

In [54]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  1  5  3
3  4  2  6

An alternative is to create from a dictionary, where the keys are the column names and the values are lists of the data in the columns.

In [55]:
df = pd.DataFrame({"A" : [1, 4, 1, 4], 
                   "B" : [2, 5,5, 2], 
                   "C" : [3, 6, 3, 6]})

In [56]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  1  5  3
3  4  2  6

We can do all the same things to a `DataFrame` that we did to a two-dimensional NumPy array. For example, we can add a number to each element, we can subtract one `DataFrame` from another (if they have the same shape), and we can apply `np.sqrt` to each element.  A couple of examples should be enough:

In [57]:
df ** 2

    A   B   C
0   1   4   9
1  16  25  36
2   1  25   9
3  16   4  36

In [58]:
np.sqrt(df)

     A         B         C
0  1.0  1.414214  1.732051
1  2.0  2.236068  2.449490
2  1.0  2.236068  1.732051
3  2.0  1.414214  2.449490

It's worth talking a little bit more about methods such as `sum`, `mean`, etc. We need to say whether we are applying the operation across values of the index (`axis=0`) or across values of the columns (`axis=1`) or to the whole `DataFrame` (`axis=None`):

In [59]:
df.mean(axis=None)

3.5

In [60]:
df.mean(axis=0) # This is the default

A    2.5
B    3.5
C    4.5
dtype: float64

In [61]:
df.mean(axis=1)

0    2.0
1    5.0
2    3.0
3    4.0
dtype: float64

## Extracting rows and columns of a DataFrame

In [62]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [1, 5, 3], [4, 2, 6]], columns=["A", "B", "C"])

In [63]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  1  5  3
3  4  2  6

You can retrieve a whole column, as a `Series`, using column indexing:

In [64]:
df["B"]

0    2
1    5
2    5
3    2
Name: B, dtype: int64

If you ask for more than one column, then you must give them as a list (hence you'll have two pairs of brackets: one for indexing and the other because you are supplying a list). Then you don't get a Series, you get a DataFrame:

In [66]:
df[["A", "B"]]

   A  B
0  1  2
1  4  5
2  1  5
3  4  2

When we extract columns, as above, we get copies of the columns, rather than views.

How do we get an individual row? We cannot write `df[2]`, for example, because we have just seen that the square bracket notation is for accessing columns. Instead, you must use `loc` (index) or `iloc` (position). The result will be a `Series` and will be a view of the underlying data. If you are slicing, the result will be a `DataFrame` and will be a copy of the underlying data.

In [67]:
df.loc[2] # A view of this row

A    1
B    5
C    3
Name: 2, dtype: int64

In [68]:
df.loc[2:3] # A copy of these rows

   A  B  C
2  1  5  3
3  4  2  6

How do we access an individual cell? We must specify both a column and a row. There are several ways.

In [69]:
df["B"][0] # Extract the column as a Series, then index into the Series

2

In [70]:
df["B"].loc[0] # The same but being explicit that we want to use the index

2

In [71]:
df["B"].iloc[0] # The same but using position

2

In [72]:
df.loc[0]["B"] # Extract the row as a Series using the index first, then index into the Series

2

In [73]:
df.iloc[0]["B"] # The same but using position

2

And there is a shorthand version, where we write just one pair of brackets. In this case, we specify row first and then column. And this only works for `loc`.

In [65]:
df.loc[0, "B"] # Row whose index is 0, column "B"

2

If you are changing a value, then the shorthand above is the *only* way of doing it. All the others raise exceptions.

In [74]:
df.loc[0, "B"] = 100 # Change the value in row whose index is 0, column "B"

In [75]:
df

   A    B  C
0  1  100  3
1  4    5  6
2  1    5  3
3  4    2  6

Again, let's repeat the point. This seems horrendous. But you should not be doing much indexing anyway!

The exception is Boolean indexing. We're much more likely to want to select several rows (hence a `DataFrame`) using Boolean indexing. Typically, you will write a Boolean expression that defines a `Series` and then use that to index the `DataFrame`.

For example, this Boolean expression extracts column "C" and compares elementwise with 6, giving a `Series` of Booleans:

In [76]:
df["C"] == 6

0    False
1     True
2    False
3     True
Name: C, dtype: bool

And now let's use that as a Booelan index to select rows of `df`:

In [77]:
df[ df["C"] == 6 ]

   A  B  C
1  4  5  6
3  4  2  6

<p>
    We can do and, or and not (&, |, ~), with extra parentheses, e.g.
</p>

In [78]:
df[ (df["B"] > 5) | (df["C"] == 6) ]

   A    B  C
0  1  100  3
1  4    5  6
3  4    2  6

## Deleting rows and columns of a DataFrame

In [79]:
original = pd.DataFrame([[1, 2, 3], [4, 5, 6], [1, 5, 3], [4, 2, 6]], columns=["A", "B", "C"])

In [80]:
df = original.copy()

We may want to delete rows or columns.

One way is to extract the rows or columns that you wish to *keep* using the techniques from above, and then assign the result back to the original variable.

For example, we know that `df[["A", "C"]]` extracts columns "A" and "C" - in effect, dropping column "B". So we can write this:

In [81]:
df = df[["A", "B"]]

In [82]:
df

   A  B
0  1  2
1  4  5
2  1  5
3  4  2

Before the next example, let's undo what we just did.

In [83]:
df = original.copy()

In our next example, we get rid of some rows. We know that `df[ df["C"] == 6 ]` extract rows where there is a 6 in column "C" - in effect dropping rows where this is not the case. So we can write this:

In [84]:
df = df[ df["C"] == 6 ]

In [85]:
df

   A  B  C
1  4  5  6
3  4  2  6

In the two examples, we said what we wanted to keep and then assigned back to the original variable.

For a more conventional approach to deletion, Pandas provides the `drop` method. You need to say whether you are deleting rows (dropping from the index, `axis=0`, the default) or columns (`axis=1`). By default, it will create a new `DataFrame`. If you want to update the original, you need to say `inplace=True`.

In [86]:
df = original.copy()

In [87]:
df.drop(["A"], axis=1, inplace=True) # Dropping column "A"

In [88]:
df

   B  C
0  2  3
1  5  6
2  5  3
3  2  6

In [89]:
df = original.copy()

In [90]:
df.drop([0, 3], inplace=True) # Dropping rows whose index values are 0 and 3

In [91]:
df

   A  B  C
1  4  5  6
2  1  5  3

In [92]:
df = original.copy()

In [93]:
df.drop([0, 3], axis=0, inplace=True) # Same again, but being explicit

In [94]:
df

   A  B  C
1  4  5  6
2  1  5  3

Of course, you can specify a Boolean index when dropping by row. But it's a bit cumbersome. The method of saying what you want to keep seems easier to me.

In [95]:
df = original.copy()

In [96]:
df.drop( df[df["C"] != 6 ].index, inplace=True) # Dropping rows that don't have a 6 in column "C"

In [97]:
df

   A  B  C
1  4  5  6
3  4  2  6

Very handy are two other methods for dropping rows. `drop_duplicates` and `drop_na`. The former looks for repeated rows and keeps only one of them. The latter looks for rows that contain `NaN` and drops them. In both cases, you can tell the method to look at only certain columns (using the `subset` argument) and to update the original (`inplace=True`). If you want to see the rows that will be dropped, then there is a method called `duplicated` and another (that we mentioned before) called `isna` - look them up if you ever need them.

Keep in mind that deletion of rows will mean that values in the index now differ from the positions of the rows.

## Creating DataFrames from CSV files

Earlier, we created `DataFrames` from Python nested lists and dictionaries. This is fine if we are creating small `DataFrames`, e.g. for testing something. 

Much, much, much more common is to read the data in from a CSV file. Usually, the first line of the file contains the names of the columns. Then each subsequent line in the file becomes a row of data in the `DataFrame`.

Take a look at the file called `stop_and_search_small.csv` in the `datasets` folder. We can read it in using the `pd.read_csv` function: we provide its pathname or a URL. For generality, we will jon the filename onto the pathame for the folder - that way we can change the location of the folder more easily. And, for even more generality, we'll anticipate working on Google Colab.

In [98]:
import os
if 'google.colab' in str(get_ipython()):
    from google.colab import drive
    drive.mount('/content/drive')
    base_dir = "./drive/My Drive/Colab Notebooks/" # You may need to change this, depending on where your notebooks are on Google Drive
else:
    base_dir = "."
dataset_dir = os.path.join(base_dir, "datasets")

In [99]:
df = pd.read_csv(os.path.join(dataset_dir, "stop_and_search_small.csv"))

We can take a cheeky look at the data.

In [100]:
df.head() # By default, shows the first 5 rows

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution

Already we see a problem: missing data. See the Age in row 0. 

In the CSV file, a pair of consecutive commas signals that a value is missing. But when Pandas reads the data in, it stores `NaN` for this value - as you know, `NaN` means 'not a number' and its type is float.

In [101]:
df.columns

Index(['Gender', 'Age', 'Suspect-ethnicity', 'Officer-ethnicity',
       'Object-of-search', 'Outcome'],
      dtype='object')

In [102]:
df.dtypes # Note dtypes, not dtype

Gender               object
Age                  object
Suspect-ethnicity    object
Officer-ethnicity    object
Object-of-search     object
Outcome              object
dtype: object

When a column's data type is `object`, it means that there are strings in the column.

In [103]:
df.ndim

2

In [104]:
df.shape

(40, 6)

In [105]:
len(df)

40

In [106]:
df.size

240

The `info()` method provides a lot of the above information in one go. We can see the column names, the number of rows and columns, and the data types. We can see how many values are non-null. Non-null means neither `NaN` nor `None`. In particular, in this example, we see we are missing 4 values for `Age`.

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             40 non-null     object
 1   Age                36 non-null     object
 2   Suspect-ethnicity  40 non-null     object
 3   Officer-ethnicity  40 non-null     object
 4   Object-of-search   40 non-null     object
 5   Outcome            40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

The `describe()` method compute summary statistics. Where the `dtype` is `object`, it shows us `count` (how many non-nulls),  `unique` (how many distinct values, excluding nulls), `top` (the mode, the most frequent of the values) and `freq` (how many rows contain the mode).

In a `DataFrame` that contains numeric columns, it shows other statistics, such as the mean and the median instead.

If the `DataFrame` has numeric and non-numeric columns, we need to write `include="all"`, otherwise it will only summarize the numeric columns.

In [108]:
df.describe(include="all")

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,40,36,40,40,40,40
unique,2,4,10,4,4,3
top,Male,18-24,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
freq,37,22,12,16,22,24

You might want to see the unique values for each column:

In [109]:
for col in df.columns:
    print( col, df[col].unique() )

Gender ['Male' 'Female']
Age [nan '18-24' '25-34' '10-17' 'over 34']
Suspect-ethnicity ['Other ethnic group - Not stated' 'White - Any other White background'
 'Asian/Asian British - Indian'
 'Other ethnic group - Any other ethnic group'
 'Black/African/Caribbean/Black British - Any other Black/African/Caribbean background'
 'Black/African/Caribbean/Black British - African'
 'Black/African/Caribbean/Black British - Caribbean'
 'Mixed/Multiple ethnic groups - White and Black African'
 'White - English/Welsh/Scottish/Northern Irish/British'
 'Asian/Asian British - Any other Asian background']
Officer-ethnicity ['Black' 'Asian' 'White' 'Other']
Object-of-search ['Offensive weapons' 'Controlled drugs' 'Stolen goods'
 'Evidence of offences under the Act']
Outcome ['A no further action disposal' 'Community resolution' 'Arrest']

Or even their frequencies:

In [110]:
for col in df.columns:
    print( df[col].value_counts() )
    print()

Gender
Male      37
Female     3
Name: count, dtype: int64

Age
18-24      22
25-34       9
10-17       3
over 34     2
Name: count, dtype: int64

Suspect-ethnicity
Other ethnic group - Not stated                                                         12
White - Any other White background                                                       7
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background     5
Asian/Asian British - Any other Asian background                                         4
White - English/Welsh/Scottish/Northern Irish/British                                    4
Black/African/Caribbean/Black British - Caribbean                                        3
Black/African/Caribbean/Black British - African                                          2
Other ethnic group - Any other ethnic group                                              1
Asian/Asian British - Indian                                                             1
Mixed/Multiple ethnic groups - White and Black African                                   1
Name: count, dtype: int64

Officer-ethnicity
Black    16
White    12
Asian    11
Other     1
Name: count, dtype: int64

Object-of-search
Controlled drugs                      22
Offensive weapons                      8
Stolen goods                           6
Evidence of offences under the Act     4
Name: count, dtype: int64

Outcome
A no further action disposal    24
Arrest                          11
Community resolution             5
Name: count, dtype: int64

## Exercises

**Exercise 1.** Write an expression that returns a `Series` of Booleans: True only where the police where looking for "Stolen goods".

**Exercise 2.** Write an expression that extracts the rows where the police were looking for "Stolen goods".

**Exercise 3.** Write an expression that calculates how many times the police were looking for "Stolen goods".

**Exercise 4.** What proportion of stop-and-searches result in an arrest?

**Exercise 5.** Extract the rows where a white officer stops and searches a white suspect.

The dataset we've been using above is only a small extraxt from a much larger dataset which contains all stop-and-searches by Thames Valley Police for about a year (mid-2018 to mid-2019).

Read it in and see its shape by executing the next two cells.

In [116]:
df = pd.read_csv(os.path.join(dataset_dir, "stop_and_search.csv"))

In [117]:
df.shape

(169418, 6)

**Exercise 6.** Working in pairs if you wish, answer the following question: Are the Thames Valley Police racist?

It's interesting that UK Police Forces publish such data. You can find more like it [here](https://data.police.uk/data/). The release is one example of a movement in modern democracies towards more open government. The UK Police Forces' data is far from perfect; for example, the Metropoliton Police publish some data, not stop-and-search data. (What are they hiding?)

An Garda Sochna publish some statistics [here](https://www.garda.ie/en/information-centre/statistics/). But they prefer PDFs of summary statistics, rather than raw data that we can explore for ourselves.

Think about what kind of open data you would like in a modern democracy.